{% extends "base.html" %}

{% block title %}
About LL Technologies
{% endblock %}


{% block content %}
<div class="container mt-5 mb-5 shadow p-3 mb-5 bg-body rounded">

  <div class="row mb-4">
    <div class="col-sm-12 mt-5 " align="center">
      <h1 style="font-weight:600;">ABOUT <span class="name-comp"> LL TECHNOLOGIES</span></h1>
    </div>

    <p class="about-com mt-3 ps-4 pe-4" align="center">
      LL Technologies Pvt(Ltd) was founded in 2022, by Ist year student of Government Polytechnic Mahoba; Er Yogendra Chaurasiya.
      <br/><br/>
      LL Technologies was started in 2022 as a smallm company with a big vision of dynamic new generation software solution and development company. The company develop Web designs and Web structures. LL Technologies's development team is built motivated, young and now all of our team members are freshers in development feild but we all have attempted many live projects and one of our project is infront of you as our company's official website.
      <br/><br/>
      We are providing Web Design and Development Services and R&D. We offer customised and fixable IT. Solutions, with low coast, without any reduction or loss in quality, technology for client. We treat our clients with courtesy, friendlyness and intelligence. Becoming successful is a skill but one can not perfect it without practice. We are providing All type of web designs and developments like School/College website, Shopping websites, Blogging websites and many more.
      <br/><br/>
      Our company was launched in 21 September, 2022  with it's official website. It was developed and launched by Er. Yogendra Chaurasiya.
    </p>
  </div>
</div>
{% endblock %}