{% load static %}

<!--Footer Started-->
<div class="row bg-black text-white">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-5">
      <h1 class="company-name ps-5 mt-5" align="center">LL TECHNOLOGIES</h1>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-1"></div>
  <div class="col-sm-2 mt-3 me-5">
    <h2>Contact Info.</h2>
    <p style="font-size:18px;">You can contact us through Email or Number.</p>
    <p style="font-size:17px;">Email :- lltechnologies.info@gmail.com</p>
    <p style="font-size:18px;">Mobile Number:- 9935790781</p>
  </div>

  <div class="col-sm-2 mt-3 me-5">
    <h2>Address</h2>
    <p style="font-size:18px;">Bila Road, Banda Chauraha, Kidwai Nagar Kabrai Mahoba (Utter Pradesh), 210424 </p>
  </div>
  <div class="col-sm-5 mt-3 mb-3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.0668472714079!2d80.01131151987121!3d25.388709306473984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399d2b38118aa643%3A0x6466c672543c6f83!2sShahnai%20palace!5e1!3m2!1sen!2sin!4v1662833800876!5m2!1sen!2sin" height="300" class="w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <br/>
      <p align="center">&copy; Copyright <span style="font-size:20px;">LL Technologies. </span><br/>All Rights Reserved Designed by <span class="copyr" style="font-size:18px;">LL Technologies (P) Ltd.</span></p>
</div>
</div>
<!--Footer Closed-->
